*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: "Poppins";
}

/* Styling Header */

#header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    flex-direction: row;
}

#logo img {
    height: 30px;
    width: 50px;
}

#logo span {
    margin-top: 5px;
    margin-left: -10px;
}

#navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#navbar a {
    color: white;
    text-decoration: none;
    display: flex;
    transition: color 0.5sec;
}

#navbar a:hover {
    color: rgb(166, 166, 166);
}

#get-started button {
    padding: 8px;
    border-radius: 10px;
    color: white;
    background-color:rgb(32, 32, 32);
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

#get-started button:hover {
    /* box-shadow:  0px 3px 5px white; */
    color: rgb(150, 144, 144);
}

/* Styling Middle Part */

#name {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#name h1{
    color: white;
    font-size: 80px;
    font-weight: 500;
}

#options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    background-color: rgb(32, 32, 32);
    padding: 8px 20px;
    border-radius: 50px;
}

.option a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition: all 1s ease;
}

#option-active {
    background-color: rgb(255, 72, 0);
}

/* Styling Bottom */
#cards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    width: 180px;
    height: auto;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
}

.card-image img {
    height: 120px;
    width: 180px;
    border-radius: 10px;
}

.tag {
    margin-top: 0;
    padding: 10px;
    padding-top: 0;
}

.tag span{
    color: rgba(245, 203, 164, 0.776);
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 10px;
    font-weight: 400;
    background-color: rgb(65, 12, 9);
}

.about-image p {
    color: white;
    font-size: 12px;
    padding: 10px;
}

.date p {
    color: rgb(145, 144, 144);
    font-size: 10px;
    padding: 10px;
}